*.*
*
!*/

# like .vscode .ccache
\.*/

compile_commands.json

!*.sh
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/sdb/*
!/cachesim/*
!/patch/*
!*.patch
!*.mk

!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/am-kernels
/nvboard
/rt-thread-am
/ysyxSoC
